[submodule "external/LQR"]
	path = external/LQR
	url = git@github.com:christophstrasen/LQR
[submodule "external/lua-reactivex"]
	path = external/lua-reactivex
	url = git@github.com:christophstrasen/lua-reactivex
[submodule "external/PromiseKeeper"]
	path = external/PromiseKeeper
	url = git@github.com:christophstrasen/PromiseKeeper
